<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Avoid loading custom checkout layout when module is inactive. -->
    <type name="Magento\Framework\View\Layout\File\Collector\Aggregated">
        <plugin
            name="resursbank_simplified_layout_file_collector"
            type="Resursbank\Simplified\Plugin\Layout\File\Collector" />
    </type>

    <!-- Append Simplified Flow as an option to the setting in Core. -->
    <type name="Resursbank\Core\Model\Config\Source\Flow">
        <plugin
            name="resursbank_simplified_config_add_flow_option"
            type="Resursbank\Simplified\Plugin\Config\AddFlowOption" />
    </type>

    <!-- Append dynamic information to compiled layout XML. -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin
            name="resursbank_simplified_layout"
            type="Resursbank\Simplified\Plugin\Layout\Layout" />
    </type>

    <!-- Create payment at Resurs Bank during authorization. -->
    <type name="Resursbank\Core\Gateway\Command\Authorize">
        <plugin
            name="resursbank_simplified_gateway_command_authorize"
            type="Resursbank\Simplified\Plugin\Gateway\Command\Authorize" />
    </type>

    <!-- Append module version info to API call user agent header. -->
    <type name="Resursbank\Core\Helper\Api">
        <plugin
            name="resursbank_simplified_api"
            type="Resursbank\Simplified\Plugin\Helper\Api" />
    </type>

    <!-- Redirect clients to step two of the checkout process on failure. -->
    <type name="Resursbank\Core\Helper\Url">
        <plugin
            name="resursbank_simplified_url"
            type="Resursbank\Simplified\Plugin\Helper\Url" />
    </type>
</config>
