<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="resursbank_section">
                <group id="advanced">
                    <group id="simplified" type="text" sortOrder="1" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Two step Magento Checkout with Resurs payment methods</label>
                        <field id="wait_for_fraud_control" type="select" sortOrder="0" translate="label, comment" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Wait for fraud control</label>
                            <comment>Perform fraud controls before booking payments. Consult Resurs Bank before activating.</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>resursbank/advanced/wait_for_fraud_control</config_path>
                        </field>
                        <field id="annul_if_frozen" type="select" sortOrder="1" translate="label, comment" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Cancel automatically</label>
                            <comment>When the payment is assigned status FROZEN. Consult Resurs Bank before activating.</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>resursbank/advanced/annul_if_frozen</config_path>
                            <depends>
                                <field id="wait_for_fraud_control">1</field>
                            </depends>
                        </field>
                        <field id="finalize_if_booked" type="select" sortOrder="2" translate="label, comment" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Debit automatically</label>
                            <comment>When the payment has been booked. Consult Resurs Bank before activating.</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>resursbank/advanced/finalize_if_booked</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
